body {
    background-image: linear-gradient(black, orange);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.title {
    color: #f1f1f1;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.title>h1 {
    margin: 0;
    text-shadow: 5px 5px 5px black;
}

.title>h2 {
    margin: 0 0 20px 0;
    text-shadow: 5px 5px 15px black;
}

.fireArea {
    outline: 10px solid #000;
    border: 10px solid #f1f1f1;
    border-radius: 5px;
}


table {
    border-collapse: collapse;
    border: 1px solid #000;
}

td {
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}

.pixel-index {
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #999;
}

td.pixel {
    width: 5px;
    height: 5px;
    border: 0;
}

.colors {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.colors>button {
    cursor: pointer;
}

.color1 {
    grid-area: 1 / 1 / 2 / 4;
}

.color2 {
    grid-area: 2 / 1 / 3 / 2;
}

.color3 {
    grid-area: 2 / 2 / 3 / 3;
}

.color4 {
    grid-area: 2 / 3 / 3 / 4;
}

.color5 {
    grid-area: 3 / 1 / 4 / 2;
}

.color6 {
    grid-area: 3 / 2 / 4 / 3;
}

.color7 {
    grid-area: 3 / 3 / 4 / 4;
}

.color8 {
    grid-area: 4 / 1 / 5 / 4;
}

.btn {
    margin: 20px 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}

.directionBtns {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.directionBtn {
    width: 100%;
    font-size: 1.5em;
    line-height: 1.5em;
}

.quantityBtns {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.debugBtn {
    width: 120px;
}

.debugTdStyle {
    background-color: lightgray;
}